.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom:60px;
}

.photo{
  margin-bottom:40px;
  transition: transform .2s;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;}

.photo:hover{
  transform: rotate(3deg) scale(1.05);
  border-radius:8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;}

.description{
  line-height: 40px;
  font-size:24px;
  text-align: left;
  display: inline-block;
  max-width: 720px;
}

.link{
  color:#007AFF;
  font-weight:700;
  text-decoration: underline;

}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
